<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>    

<body>


<center>
<h1>About Us</h1>
<p>I am building this site for practice. The source code is available on GIt. The code should ONLY be used for personal projects and not for commerical use. Contribute by writing clean code!! Updates to README are coming soon with instructions as well. Happy coding!</p>
<a href="https://github.com/ArisNance/Pinterest-Clone.git">GitHub Project</a>
</center>

</body>
</html>