<!DOCTYPE html>
<html>
<head>
    
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
    .jumbotron{
     background-color: #0041a0;
     opacity:0.8;
  }
  
  #white{
      color:white !important;
  }
  
 
</style>

</head>    
    
<body>


<div class="jumbotron">
    <center>
<h1 id="white">Welcome to InterestPin</h1>
<p id="white">The place to find & post interesting pins from around the world. InterestPin was built with Ruby on Rails by Aris Nance as a personal project</p>
<%= link_to "About Us", home_about_path, class: "btn btn-default btn-lg" %>
<%= link_to "Home", root_path, class: "btn btn-primary" %>
</center>
</div>



</body>
</html>